.weather-app {
  max-width: 800px;
  margin: 50px auto;
  padding-top: 40px;
  background: linear-gradient(
    109.6deg,
    rgb(27, 27, 79) 11.2%,
    rgb(120, 201, 244) 100.2%
  );
  border: solid black 2px;
  color: #ffffff;
}
