.weather-app {
  max-width: 800px;
  margin: 50px auto;
  padding-top: 40px;
  padding-bottom: 12px;
  padding-left: 12px;
  background: linear-gradient(
    109.6deg,
    rgb(26, 89, 141) 11.2%,
    rgb(28, 101, 103) 92.5%
  );
  color: #ffffff;
}
